{% extends "catalog/base_generic.html" %}

{% block content %}
<h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>

<p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
<p><strong>Date of death:</strong> {{ author.date_of_death|default:"Still alive" }}</p>

    <h4>Books</h4>
    
    {% if author.book_set.all %}
        {% for book in author.book_set.all %}
        <hr>
        <p><strong>Title:</strong> <a href="{{ book.get_absolute_url }}">{{ book.title }}</a></p>
        <p><strong>Summary:</strong> {{ book.summary }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Genre:</strong> 
            {% for genre in book.genre.all %}
                {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endfor %}
    {% else %}
        <p>This author has no books in the library.</p>
    {% endif %}
    <div>
  {% if perms.catalog.change_author %}
    <a href="{% url 'author_update' author.pk %}" class="btn btn-primary">Edit Author</a>
  {% endif %}
  {% if perms.catalog.delete_author %}
    <a href="{% url 'author_delete' author.pk %}" class="btn btn-danger">Delete Author</a>
  {% endif %}
</div>
</div>
{% endblock %}